.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

div {
  /*border: 1px solid black;*/
}
.ResultsContainer {
  padding: 5%;
  margin-top: 10%;
  border-radius: 30px;
  max-width: 90%;
  max-height: 90%;;
  min-height: 100%;
  background: #ededed;
}

.card-bg {
  max-width: 90%;
  max-height: 90%;
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.card-bg:hover > .button-container {
  display: block;
}

.ADD {
  background-color: #449d44;
  color: white;
}

.REMOVE {
  background-color: #d64131;
  color: white;
}

.button-container {
  margin-top: 5%;
  display: none;
}

button {
    min-width: 100%;
    min-height: 100%;
    border: none;
}

.card-photo {
  background-color: white;
  border-radius: 10px;
  max-height: 95%;

}

.card-photo img {
  border-radius: 10px;
  max-width: 97%;
  margin-top: 1%;
  padding-left: 1.5%;
  padding-top: 1%;
}
